.container {
  width: 100%;
  height: 100vh;
  /* background: wheat; */
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
}

.containerNav {
  width: 100%;
  /* background: wheat; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.enter {
  width: 50px;
  height: 50px;
}

.navMenu {
  display: flex;
  width: 50%;
  justify-content: space-around;
  margin-bottom: 50px;
  align-items: center;
  font-family: sans-serif;
}

.menuItem {
  text-decoration: none;
  font-size: 30px;
  color: black;
}
.bookJack {
  margin: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: cornflowerblue;
  font-family: sans-serif;
}
.login {
  position: absolute;
  top: 5%;
  right: 5%;
  cursor: pointer;
  /* border: 1px solid black;
  padding: 10px; */
}

@media screen and (max-width: 600px) {
  .navMenu {
    width: 100%;
  }
  .enter {
    width: 30px;
    height: 30px;
  }
  .login {
    padding: 5px;
    top: 3.5vh;
    right: 3vh;
  }
}
